{
  "presets": [
    ["@babel/env", {
      "targets": {
        "chrome": 55,
        "safari": 11,
        "opera": 42,
        "firefox": 53
      },
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-external-helpers"
  ]
}
