# Logs
logs
*.log
*.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

node_modules/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.next
.DS_Store
