:host {
  display: block;
  width: 300px;
  height: 300px;
}

.cor {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

.cor .br {
  position: absolute;
  z-index: 30;
  right: 0;
  bottom: 0;
}

.cor .percent {
  height: 10%;
  width: 10%;
  top: 50%;
  left: 50%;
  margin: -5%;
}

.cor .fs {
  padding: 5px 5px 25px;
  margin: 7px 0;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.cor .fs:hover {
  opacity: 1;
}

.cor .scrollD {
  height: 100%;
  width: 100%;
}

.cor .num {
  position: absolute;
  padding: 2px;
  margin: 4px;
  right: 0;
  bottom: 2px;
  height: 14px;
  width: 38px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  color: black;
  text-align: center;
}

.cor .arrow {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 40px;
  opacity: 0.5;
}

.cor .arrow:hover {
  opacity: 1;
}

.cor .arrow > * {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
}

.cor .arrow.l {
  left: 0;
}

.cor .arrow.l img {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.cor .arrow.r {
  right: 0;
}

.cor .arrow.r img {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

/*for small corousels*/
.bottom {
  position: relative;
}

*::slotted(img) {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  opacity: 0;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.15s ease, opacity 0.15s ease;
}

*::slotted(img.prev) {
  transform: translate3d(-60%, -50%, 0);
}

*::slotted(img.next) {
  transform: translate3d(-40%, -50%, 0);
}

*::slotted(img.active) {
  display: block;
  opacity: 1;
}
